asgiref==3.6.0
beautifulsoup4==4.11.2
bootstrap4==0.1.0
charset-normalizer==3.0.1
Django==4.1.6
django-bootstrap4==22.3
django-environ==0.9.0
environ==1.0
haversine==2.7.0
idna==3.4
Jinja2==3.1.2
mistune==2.0.4
nbconvert==7.2.5
PyMySQL==1.0.2
requests==2.28.2
soupsieve==2.3.2.post1
sqlparse==0.4.3
tinycss2==1.2.1
tzdata==2022.7
urllib3==1.26.14
wincertstore==0.2
