{% extends 'base.html' %}
{% load static %}
{% block title %}홈{% endblock title %}
{% block content %}
<section class="page-section" >
    <div class="container">
        {% if not user.is_authenticated %}
        <div class="d-flex justify-content-center">
            <div class="card text-center" style="width: 80%; border: none;">
                <h3>서비스 이용시 로그인 해 주시기 바랍니다.</h3>
            </div>
        </div>
        {% else %}
        <div class="d-flex justify-content-center">
            <div class="card text-center" style="width: 80%; border: none;">
                <h3> {{ request.user.username }}님의 주차 매너 점수</h3>
                <h3>{{ av_score }}점</h3>
                <h5></h5>
            </div>
        </div>
        {% endif %}
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="d-flex justify-content-center">
            <form method="POST" action="{% url 'parkscore:score' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="lat" id="lat1">
                <input type="hidden" name="long" id="long1">
                <input type="file" accept="image/*;capture=camera" name="Camera"  id="Camera" style="display: none;" required>
                <button type="button" class="btn btn-primary m-3" id="scoreButton">
                    <img src="{% static 'images/camera.png' %}" class="img-responsive" style="width: 60%">
                    <p style="font-size: 1rem;">반납 확인</p>
                </button>
                <div class="row justify-content-center align-items-center">
                    <div class="col-6">
                        <button type="submit" class="btn btn-secondary"  style="display: none;" id="submitButton">전송</button>
                    </div>
                </div>
            </form>
            <form action="{% url 'parkarea:parkmap'  %}" method="GET" >
                <input type="hidden" name="lat" id="lat2">
                <input type="hidden" name="long" id="long2">
                <button type="submit" class="btn btn-primary m-3" id="areaButton">
                    <img src="{% static 'images/parking.png' %}" class="img-responsive" style="width: 60%">
                    <p style="font-size: 1rem;">주차 구역</p>
                </button>
            </form>
        </div>
    </div>
</section>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.js" charset="utf-8"></script>
<script type="text/javascript">
    function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;

        document.getElementById("lat1").value = latitude;
        document.getElementById("long1").value = longitude;
        document.getElementById("lat2").value = latitude;
        document.getElementById("long2").value = longitude;

    }
    function error(position) {
            //HTTPS가 아니거나 위치수집 동의를 안 할 경우
            alert("위치수집 동의를 해주세요")
        }

    if(!navigator.geolocation) {
        //Geolocation API를 지원하지 않는 브라우저일 경우
        alert(" 현 브라우저가 위치수집을 지원하지 않습니다.\n 다른 브라우저를 이용해주세요 ")

        } else {
        //Geolocation API를 지원하는 브라우저일 경우

        var optn = {enableHighAccuracy : true, timeout : 30000, maximumage: 0};
        function geolocation(){
                navigator.geolocation.getCurrentPosition(success, error,optn);
            }
        }

    function showResult() {
        var score = 5.4;
        // 1. score에 따른 이미지
        if (score > 7) {
            $("#scoreImage").prop("src", "{% static 'images/good.png'%}");
        } else if (score > 3) {
            $("#scoreImage").prop("src", "{% static 'images/neutral.png'%}");
        } else {
            $("#scoreImage").prop("src", "{% static 'images/bad.png'%}");
        }

        $("#avgScore").text = score;
    }

    $(document).ready(function () {
        geolocation();
        showResult();
    });

    $(document).on("click", "#scoreButton", function() {
        $("#Camera").click();
        $("#submitButton").css("display", "inline-block");
    });

</script>


{% endblock content%}