{% extends 'base.html' %}
{% load static %}
{% block title %}주차 점수{% endblock title %}
{% block content %}
<section class="page-section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 40%; border: none;">
                <img class="card-img-top img-responsive p-2" src="" id="scoreImage" alt="scoreImage" style="width: 100%">
                <div class="card-body">
                    <h5 class="card-title text-center scoreText">{{ score }}점</h5>
                </div>
            </div>
        </div>

        <div class="card bg-primary text-white p-3" id="resultText" style="border: none;"></div>

        <!-- Image Modal -->
        <div class="modal fade" id="resultImage" tabindex="-1" aria-labelledby="resultImageModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resultImageModalTitle">주차 이미지</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ratio ratio-1x1">
                            <img class="img-responsive img-rounded" src="{{ uri }}" alt="resultImage" style="margin: auto;">
                        </div>
                        <div class="mt-3">
                            <ul style="list-style-type: disc;" id="resultImageList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GPS Modal -->
        <div class="modal fade" id="resultGPS" tabindex="-1" aria-labelledby="resultGPS" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resultGPSTitle">주차 위치</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ratio ratio-4x3">
                            <div id="map_div" style="width: 100%;"></div>
                        </div>
                        <div class="mt-3">
                            <ul style="list-style-type: disc;" id="resultGPSList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 반납 버튼 -->
        <div style="text-align: center;">
            <form action="{% url 'parkscore:update' %}" method="get">
                {% csrf_token %}
                <input type="hidden" name="score" value="{{score}}">
                <input type="submit" class="btn btn-secondary rounded-pill col-3 mt-12 submit-button m-3" value="반납">
            </form>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx0ffb87c22bdb45ae8facaeeb7958ad36"></script>
<script type="text/javascript">
    function makeTmap() {
        var map;
        var marker;
        var lat = {{ lat }};
        var long = {{ long }};
        var markerList = {{ markerList|safe }};

        // 1. 지도 그리기
        map = new Tmapv2.Map("map_div",
            {
                center: new Tmapv2.LatLng(lat, long),
                width: "100%",
                zoom: 16,
                zoomControl: true,
                scrollwheel: true
            }
        );

        // 2. 현 위치 마커
        marker = new Tmapv2.Marker(
            {
                position: new Tmapv2.LatLng(lat, long),
                icon: "{% static 'images/here.png' %}",
                iconSize: new Tmapv2.Size(30, 30),
                map: map
            }
        );

        // 3. 주차 금지 구역 마커
        $.each(markerList, function(idx, item) {
            marker = new Tmapv2.Marker(
                {
                    position: new Tmapv2.LatLng(item.latitude, item.longitude),
                    icon: "{% static 'images/remove.png' %}",
                    iconSize: new Tmapv2.Size(20, 20),
                    map: map
                }
            );
        });
    }

    function removeTmap() {
        $("#map_div").empty();
    }

    function hideModal() {
        // modal 버튼 숨기기
        $(".modal-button").css("display", "none");
        $(".submit-button").css("display", "none");
    }

    function showResult() {
        var score = {{ score }};
        var cautionList = {{ cautions|safe }};
        var imageList = cautionList.image;
        var gpsList = cautionList.gps;


        // 1. score에 따른 이미지
        if (score > 66) {
            $("#scoreImage").prop("src", "{% static 'images/good.png'%}");
        } else if (score > 33) {
            $("#scoreImage").prop("src", "{% static 'images/neutral.png'%}");
        } else {
            $("#scoreImage").prop("src", "{% static 'images/bad.png'%}");
        }
        console.log(cautionList.kickboard);


        if (cautionList.kickboard == 0) {
            hideModal();
            $("#resultText").append("사진에 개인형 이동장치를 확인할 수 없습니다");
        } else if (cautionList.angle == 0) {
            hideModal();
            $("#resultText").append("개인형 이동장치가 넘어져 있습니다");
        }

        if (imageList.length > 0) {
            $("#resultText").append("<h4><span><i class='fa-solid fa-circle-check'></i></span>    이미지 속 주차금지구역</h4>");
            $("#resultText").append("<div class='row'><div class='col-9' id='resultImageText'></div><div class='col-3' id='resultImageButton'></div>");
            $.each(imageList, function(idx, item) {
                $("#resultImageText").append("<li>"+item+"</li>");
            });
            $("#resultImageButton").append('<button class="btn btn-secondary m-3 modal-button" type="button" data-bs-toggle="modal" data-bs-target="#resultImage"><span><i class="fa-solid fa-image"></i></span></button>')
        }

        if (gpsList.length > 0) {
            if ($("#resultText > h4").length) {
                $("#resultText").append("<hr>");
            }
            $("#resultText").append("<h4><span><i class='fa-solid fa-circle-check'></i><span>    현 위치 인근 주차금지구역</h4>");
            $("#resultText").append("<div class='row'><div class='col-9' id='resultGPSText'></div><div class='col-3' id='resultGPSButton'></div>");
            $.each(gpsList, function(idx, item) {
                $("#resultGPSText").append("<li>"+item+"</li>");
            });
            $("#resultGPSButton").append('<button class="btn btn-secondary m-3 modal-button" type="button" data-bs-toggle="modal" data-bs-target="#resultGPS"><span><i class="fa-solid fa-map-location-dot"></i></span></button>')
        }
    }

    $(document).ready(function() {showResult()});
    $("#resultGPS").on("shown.bs.modal", function() {makeTmap()});
    $("#resultGPS").on("hidden.bs.modal", function() {removeTmap()});
</script>
{% endblock content %}